<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="index.css">
</head>
<body>
  <div class="wrap">

    <!-- 選單列 -->
    <nav>
      <ul>
        <li><a href="#">首頁</a></li>
        <li><a href="#">大圖廣告</a></li>
        <li><a href="#">產品列表</a></li>
        <li><a href="#">頁尾</a></li>
      </ul>
    </nav>

    <!-- 大圖廣告 -->
    <div class="banner">
      <img src="banner.jpg">
    </div>

    <!-- 商品清單 -->
    <div class="pd-group">
      <div class="pd-list">
        <img src="product.jpg" alt="">
        <h2>選我選我</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, dolor.</p>
      </div>
      <div class="pd-list">
        <img src="product.jpg" alt="">
        <h2>選我選我</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, laboriosam.</p>
      </div>
      <div class="pd-list">
        <img src="product.jpg" alt="">
        <h2>選我選我</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, necessitatibus?</p>
      </div>
      <div class="pd-list">
        <img src="product.jpg" alt="">
        <h2>選我選我</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, modi.</p>
      </div>
      <div class="pd-list">
        <img src="product.jpg" alt="">
        <h2>選我選我</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, voluptates!</p>
      </div>
      <div class="pd-list">
        <img src="product.jpg" alt="">
        <h2>選我選我</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, quas.</p>
      </div>
      <div class="pd-list">
        <img src="product.jpg" alt="">
        <h2>選我選我</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, voluptatum.</p>
      </div>
      <div class="pd-list">
        <img src="product.jpg" alt="">
        <h2>選我選我</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, officiis!</p>
      </div>
      <div class="clearfix"></div>
    </div>

    <!-- 頁尾 -->
    <footer>copyright</footer>
  </div>
</body>
</html>
