* {
  padding: 0px;
  margin: 0px;
  list-style: none;
  font-size: 16px;
}

ul {
  background-color: #aaa;
  width: 200px;
}

ul a {
  display: block;
  background-color: #aaf;
  right: 150px;
  position: relative;
  text-decoration: none;
  padding: 6px 20px;
  color: #fff;
  transition: 0.5s;
  border-bottom: 1px solid #fff;
}

ul a:hover {
  background-color: #88f;
  right: 0px;
}
