
.wrap {
  width: 960px;
  margin: auto;
}

.box {
  border: 1px solid #fff;
  padding: 10px;
  float: left;
}

.box:hover {
  border-color: #aaa;
}

.small-col {
  width: 218px;
}

img {
  width: 218px;
}

a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #6af;
  text-decoration: none;
  color: #fff;
}

a:hover {
  background-color: #aaf;
}

.col {
  width: 458px;
}

.col img {
  width: 458px;
}

.small-col-top {
  width: 218px;
  padding-bottom: 4px;
}

.small-col-bottom {
  width: 218px;
  padding-top: 5px;
}
