<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="index.css">
  <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
</head>
<body>
  <div class="wrap">
    <div class="head">
      <a class="logo" href="#">
        <img  src="http://livedemo00.template-help.com/magento_53638/skin/frontend/tm_themes/theme706/images/logo.png">
      </a>
      <div class="head-method">
        <i class="fa fa-search fa-2x"></i>
        <i class="fa fa-user fa-2x"></i>
        <i class="fa fa-shopping-cart fa-2x"></i>
      </div>
      <nav>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Accessories</a></li>
          <li><a href="#">Men</a></li>
          <li><a href="#">Women</a></li>
          <li><a href="#">Pages</a></li>
        </ul>
      </nav>
    </div>
    <div class="content">
      <div class="banner">
        <img src="http://livedemo00.template-help.com/magento_53638/skin/frontend/tm_themes/theme706/images/media/img-1.jpg" alt="" />
      </div>
      <div class="banner">
        <ul class="banner-list">
          <li class="list-2">
            <a href="#">
              <img src="http://livedemo00.template-help.com/magento_53638/skin/frontend/tm_themes/theme706/images/media/img-2.jpg" alt="" />
            </a>
          </li>
          <li class="list-2">
            <a href="#">
              <img src="http://livedemo00.template-help.com/magento_53638/skin/frontend/tm_themes/theme706/images/media/img-3.jpg" alt="" />
            </a>
          </li>
          <div class="clearfix"></div>
        </ul>
      </div>
      <div class="banner">
        <img src="http://livedemo00.template-help.com/magento_53638/skin/frontend/tm_themes/theme706/images/media/img-4.jpg" alt="" />
      </div>
      <div class="banner">
        <ul class="banner-list">
          <li class="list-2">
            <a href="#">
              <img src="http://livedemo00.template-help.com/magento_53638/skin/frontend/tm_themes/theme706/images/media/img-5.jpg" alt="" />
            </a>
          </li>
          <li class="list-2 has-list">
            <ul class="row-1">
              <li class="list-2">
                <a href="#">
                  <img src="http://livedemo00.template-help.com/magento_53638/skin/frontend/tm_themes/theme706/images/media/img-bg.png" alt="" />
                </a>
              </li>
              <li class="list-2">
                <a href="#">
                  <img src="http://livedemo00.template-help.com/magento_53638/skin/frontend/tm_themes/theme706/images/media/img-bg.png" alt="" />
                </a>
              </li>
              <div class="clearfix"></div>
            </ul>
            <ul>
              <li class="list-2">
                <a href="#">
                  <img src="http://livedemo00.template-help.com/magento_53638/skin/frontend/tm_themes/theme706/images/media/img-bg.png" alt="" />
                </a>
              </li>
              <li class="list-2">
                <a class="discount" href="#">
                  <img src="http://livedemo00.template-help.com/magento_53638/skin/frontend/tm_themes/theme706/images/media/img-bg.png" alt="" />
                </a>
              </li>
              <div class="clearfix"></div>
            </ul>
          </li>
          <div class="clearfix"></div>
        </ul>
      </div>
      <h2 class="pg-group-title">
        New Product
      </h2>
      <div class="pg-group">
        <div class="pg">
          <img src="http://livedemo00.template-help.com/magento_53638/media/catalog/product/cache/1/small_image/290x359/9df78eab33525d08d6e5fb8d27136e95/u/n/uneven_hem_top.jpg" alt="" />
          <h3 class="pg-title">Flared jeans</h3>
          <div class="pg-price">$15.00</div>
          <div class="pg-label">
            NEW
          </div>
          <div class="pg-thumbs-group">
            <div class="pg-thumbs">
              <div class="pg-thumb">
                <img src="http://livedemo00.template-help.com/magento_53638/media/catalog/product/cache/1/thumbnail/44x55/9df78eab33525d08d6e5fb8d27136e95/u/n/uneven_hem_top.jpg" alt="" />
              </div>
              <div class="pg-thumb">
                <img src="http://livedemo00.template-help.com/magento_53638/media/catalog/product/cache/1/thumbnail/44x55/9df78eab33525d08d6e5fb8d27136e95/u/n/uneven_hem_top_3.jpg" alt="" />
              </div>
              <div class="pg-thumb">
                <img src="http://livedemo00.template-help.com/magento_53638/media/catalog/product/cache/1/thumbnail/44x55/9df78eab33525d08d6e5fb8d27136e95/u/n/uneven_hem_top_4.jpg" alt="" />
              </div>
            </div>
          </div>
        </div>
        <div class="pg">
          <img src="http://livedemo00.template-help.com/magento_53638/media/catalog/product/cache/1/small_image/290x359/9df78eab33525d08d6e5fb8d27136e95/s/t/striped_cotton_shirt.jpg" alt="" />
          <h3 class="pg-title">Striped cotton shirt</h3>
          <div class="pg-price">$36.00</div>
          <div class="pg-label">
            NEW
          </div>
          <div class="pg-thumbs-group">
            <div class="pg-thumbs">
              <div class="pg-thumb">
                <img src="http://livedemo00.template-help.com/magento_53638/media/catalog/product/cache/1/thumbnail/44x55/9df78eab33525d08d6e5fb8d27136e95/s/t/striped_cotton_shirt_5.jpg" alt="" />
              </div>
              <div class="pg-thumb">
                <img src="http://livedemo00.template-help.com/magento_53638/media/catalog/product/cache/1/thumbnail/44x55/9df78eab33525d08d6e5fb8d27136e95/s/t/striped_cotton_shirt.jpg" alt="" />
              </div>
              <div class="pg-thumb">
                <img src="http://livedemo00.template-help.com/magento_53638/media/catalog/product/cache/1/thumbnail/44x55/9df78eab33525d08d6e5fb8d27136e95/s/t/striped_cotton_shirt_4.jpg" alt="" />
              </div>
            </div>
          </div>
        </div>
        <div class="pg">
          <img src="http://livedemo00.template-help.com/magento_53638/media/catalog/product/cache/1/small_image/290x359/9df78eab33525d08d6e5fb8d27136e95/f/r/free_spirit_jeans_5.jpg" alt="" />
          <h3 class="pg-title">Free spirit jeans</h3>
          <div class="pg-price">$55.00</div>
          <div class="pg-label">
            NEW
          </div>
          <div class="pg-thumbs-group">
            <div class="pg-thumbs">
              <div class="pg-thumb">
                <img src="http://livedemo00.template-help.com/magento_53638/media/catalog/product/cache/1/thumbnail/44x55/9df78eab33525d08d6e5fb8d27136e95/f/r/free_spirit_jeans_5.jpg" alt="" />
              </div>
              <div class="pg-thumb">
                <img src="http://livedemo00.template-help.com/magento_53638/media/catalog/product/cache/1/thumbnail/44x55/9df78eab33525d08d6e5fb8d27136e95/f/r/free_spirit_jeans_4.jpg" alt="" />
              </div>
              <div class="pg-thumb">
                <img src="http://livedemo00.template-help.com/magento_53638/media/catalog/product/cache/1/thumbnail/44x55/9df78eab33525d08d6e5fb8d27136e95/f/r/free_spirit_jeans.jpg" alt="" />
              </div>
            </div>
          </div>
        </div>
        <div class="pg">
          <img src="http://livedemo00.template-help.com/magento_53638/media/catalog/product/cache/1/small_image/290x359/9df78eab33525d08d6e5fb8d27136e95/f/l/flared_jeans_3.jpg" alt="" />
          <h3 class="pg-title">Flared jeans</h3>
          <div class="pg-price">$70.00</div>
          <div class="pg-label">
            NEW
          </div>
          <div class="pg-thumbs-group">
            <div class="pg-thumbs">
              <div class="pg-thumb">
                <img src="http://livedemo00.template-help.com/magento_53638/media/catalog/product/cache/1/thumbnail/44x55/9df78eab33525d08d6e5fb8d27136e95/f/l/flared_jeans_6.jpg" alt="" />
              </div>
              <div class="pg-thumb">
                <img src="http://livedemo00.template-help.com/magento_53638/media/catalog/product/cache/1/thumbnail/44x55/9df78eab33525d08d6e5fb8d27136e95/f/l/flared_jeans.jpg" alt="" />
              </div>
              <div class="pg-thumb">
                <img src="http://livedemo00.template-help.com/magento_53638/media/catalog/product/cache/1/thumbnail/44x55/9df78eab33525d08d6e5fb8d27136e95/f/l/flared_jeans_2.jpg" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">

    </div>
  </div>
  <script type="text/javascript" src="index.js"></script>
</body>
</html>
